.DS_Store
*.py[cod]
*.tar
.idea/
.tox/
.config
__pycache__
pg_dumps
media
django.ssh
local_settings.py
foo.py
--logfile
junk.txt
redis_dumps
secrets.ini
BackfillData/
aws.xml
.venv
build
PKG-INFO
SOURCES.txt
top_level.txt
uv.lock
dependency_links.txt

