{% extends "admin/base_site.html" %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}

    <p>
        {% for a in accounts %}
            <input type="checkbox" style="width: 30px" id="task_completed" value="">{{ a }}</br>
        {% endfor %}
    </p>
    <p>
    A few additional statements to get:<br>
        <input type="checkbox" style="width: 30px" id="task_completed" value="">
        <a href="https://my.payentry.com/Account/Login?Reason=Logout" target="_blank">BT Pay Stub</a><br>
        <input type="checkbox" style="width: 30px" id="task_completed" value="">
        <a href=https://www.bankofamerica.com/ target="_blank">BofA Mortgage</a><br>
        <input type="checkbox" style="width: 30px" id="task_completed" value="">
        <a href="https://bge.com" target="_blank">BGE</a><br>
    </p>

{% endblock content %}
