{% extends "admin/base.html" %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Worth</a></h1>
{% endblock %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}
    {% include "admin/quick_links.html" with show_changelinks=True %}
    {{ d }} {{ account }} {{ total_cleared|floatformat:3|intcomma }}
    {% if delta %}
        <p>{{  delta_msg }} {{ delta|floatformat:3|intcomma }}.</p>
    {% endif %}
    <form method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>

{% endblock content %}
