{% extends "admin/base_site.html" %}

{% load humanize %}

{% block title %}Get IB Statements{% endblock title %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}

    <p>
        Files:<br>
        {% for fn in filenames %}
            <p>{{ fn }}</p>
        {% endfor %}
    </p>

{% endblock content %}
