
<nav class="navbar {{ navbar_color_class|default:'navbar-dark' }}" style="background-color: transparent; padding: 0;">
  <style>
    .dropdown-submenu {
      position: relative;
    }

    .dropdown-submenu .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -1px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
      display: block;
    }

    .dropdown-item.dropdown-toggle:after {
      display: none;
    }

    .dropdown-submenu > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
    }

    .dropdown-submenu:hover > a {
        background-color: #f8f9fa;
        color: #16181b !important;
    }

    .dropdown-submenu:hover > a:after {
      border-left-color: #212529;
    }

    .dropdown-submenu.pull-left {
      float: none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      border-radius: 6px 0 6px 6px;
    }
  </style>

  <div class="dropdown">
    <button class="navbar-toggler" type="button" id="hamburgerMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="hamburgerMenu">

      <div class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">PnL</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:pnl' %}">Today</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:pnl' %}?days=lbd">PnL LBD</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:pnl' %}?d=1">PnL Last Month</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:pnl' %}?d=2">PnL 2 Months Ago</a>
        </div>
      </div>

      <div class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" href="{% url 'accounts:accounts' %}">Accounts</a>
          <a class="dropdown-item" target="_blank" href="/admin/accounts/cashrecord/">Cash Admin</a>
          <a class="dropdown-item" target="_blank" href="{% url 'accounts:cash_transfer' %}">Cash Transfer</a>
          <a class="dropdown-item" target="_blank" href="/admin/accounts/expense/">Expenses Admin</a>
          <a class="dropdown-item" target="_blank" href="/admin/accounts/receivable/">Receivable Admin</a>
        </div>
      </div>

      <div class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Trading</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:getibtrades' %}">Get IB Trades</a>
          <a class="dropdown-item" target="_blank" href="{% url 'accounts:get_ib_statements' %}">Get IB Statements</a>
          <a class="dropdown-item" target="_blank" href="/admin/trades/trade/">Trades Admin</a>
        </div>
      </div>

      <div class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Analytics</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:daily_pnl' %}?a=MarcIB&range=current_month">Daily PnL</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:performance' %}">Performance</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:value_chart' %}">Value Chart</a>
        </div>
      </div>

      <div class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="#">Annual Analysis</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:pnlifclosed' %}">PnL If Closed</a>
          <a class="dropdown-item" target="_blank" href="{% url 'accounts:receivables' %}">Receivables</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:incomeexpense' %}">Income/Expense</a>
          <a class="dropdown-item" target="_blank" href="{% url 'analytics:realized' %}">Taxable This Year</a>
        </div>
      </div>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" target="_blank" href="/admin/">Admin Home</a>
    </div>
  </div>
</nav>
