{% extends "admin/base_site.html" %}

{% load humanize %}

{% block title %}Checking{% endblock title %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}

    <p>
        Account: {{ account }} <br>
        Balance: {{ balance|floatformat:2|intcomma }} <br>
        Statement Balance: {{ statement_balance|floatformat:2|intcomma }} <br>
        <a href="/admin/accounts/cashrecord/?active=56">Cash Records</a><br>
    </p>

{% endblock content %}
