{% extends "base.html" %}

{% block local_javascript_imports %}
    {% include 'jquery_table.html' %}
{% endblock %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="container">
        <p>
        </p>

        <div style="width: 850px">


            <h2>Income</h2>
            {% if incomecsvurl %}
                <a href="{{ incomecsvurl }}">Income CSV</a>
            {% endif %}
            {% include 'table.html' with table_id="TABLE_income" data=income headings=i_h formats=i_f %}
            <p></p>
            <h2>Expense</h2>
            {% if expensecsvurl %}
                <a href="{{ expensecsvurl }}">Expenses CSV</a>
            {% endif %}
            {% include 'table.html' with table_id="TABLE_expense" data=expense headings=e_h formats=e_f%}

            <h2>Summary</h2>
            <p>Total Income: {{ total_income|floatformat:2|intcomma }}</p>
            <p>Total Expenses: {{ total_expenses|floatformat:2|intcomma }}</p>
            <p><strong>Net Profit: {{ net_profit|floatformat:2|intcomma }}</strong></p>
        </div>
    </div>
{% endblock content %}
