{% extends "base.html" %}

{% block local_javascript_imports %}
    {% include 'jquery_table.html' %}
{% endblock %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="container">
        <p>
        <a href="/admin">Admin</a>
        {% with exclude_quick_links_caption=True %}
            {% include "admin/quick_links.html" with show_changelinks=True %}
        {% endwith %}
        </p>

        <div style="width: 850px">


            <h2>Income</h2>
            {% if incomecsvurl %}
                <a href="{{ incomecsvurl }}">Income CSV</a>
            {% endif %}
            {% include 'table.html' with table_id="TABLE_income" data=income headings=i_h formats=i_f %}
            <p></p>
            <h2>Expense</h2>
            {% if expensecsvurl %}
                <a href="{{ expensecsvurl }}">Expenses CSV</a>
            {% endif %}
            {% include 'table.html' with table_id="TABLE_expense" data=expense headings=e_h formats=e_f%}
        </div>
    </div>
{% endblock content %}
