{% extends "base.html" %}

{% block local_javascript_imports %}
    {% include 'jquery_table.html' %}
{% endblock %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="container">
        <p>
        </p>

        <div style="width: 850px">
            {%  block d %}
                <p><div class="text-center"><strong>{{ d }}</strong></div></p>
            {% endblock %}

            {% include 'table.html' with table_id="table_id1" data=data1 headings=headings1 %}
        </div>
    </div>
{% endblock content %}
