{% extends "base.html" %}

{% block local_javascript_imports %}
    {% include 'jquery_table.html' %}
{% endblock %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="container">
        <p>
        </p>

        <div style="width: 850px">
            {%  block d %}
                <div class="text-center"><strong>{{ d }}</strong></div>
            {% endblock %}

            {% if data2 %}
                <div style="width: 400px">
                    {% firstof formats2 formats "{}" as table2_formats %}
                    {% include 'table.html' with table_id="table_id2" data=data2 headings=headings2 formats=table2_formats %}
                </div>
                <br>
            {% endif %}

            {% firstof formats1 formats "{}" as table1_formats %}
            {% include 'table.html' with table_id="table_id1" data=data1 headings=headings1 formats=table1_formats %}
        </div>
    </div>
{% endblock content %}
