{% extends "admin/base_site.html" %}

{% load humanize %}

{% block title %}{{ title }}{% endblock title %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}

    <p>
        {% if description %}
            {{ description }} <br>
            {{ tickeradmin }} <br>
        {% endif %}
        {% if pos %}
            Position: {{ pos|floatformat:2|intcomma }} <br>
            Open Price: {{ open_price|floatformat:2|intcomma }} <br>
            Capital: {{ capital|floatformat:2|intcomma }} <br>
        {% endif %}
        {% if price %}
            Price: {{ price|floatformat:2|intcomma }} <br>
            Total PnL: {{ total_pnl|floatformat:2|intcomma }} <br>
            Realizable PnL: {{ realizable_pnl|floatformat:2|intcomma }} if we close position today.<br>
        {% endif %}
        {% if msg %}
            <p>
            {{ msg }}
            </p>
        {% endif %}
    </p>

{% endblock content %}
