{% extends "base.html" %}

{% load humanize %}

{% block page_style %}
    <style>
        body {background-color: lightyellow;}
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {text-align: center;}
        font Verdana, Arial, Helvetica, sans-serif;
    </style>
{% endblock page_style %}

{% block content %}
    <a href="/admin">Admin</a>
    {% include "admin/quick_links.html" with show_changelinks=True %}

    {% block title %}{{ title }}{% endblock title %}
    <p>
        {{ plot_div | safe }}
    <p>
    Try using `n_months=20` as an argument here.<br>
    Try using `a=TDA` as argument here.
    </p>
{% endblock content %}
