<table id="{{ table_id }}" class="display border">
    <thead>
        <tr>
            {% for h in headings %}
                <th>{{ h }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>

    {% for rec in data %}
        <tr>
            {% for x in rec %}
                <td>{{ x|safe }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{#<script>#}
{#FORMATS = eval({{ formats | safe }})#}
{#console.log(FORMATS)#}
{#$.extend( true, $.fn.dataTable.defaults, FORMATS)#}
{##}
{#$(document).ready(function () {#}
{#    $('#{{ table_id }}').DataTable();#}
{#});#}
{#</script>#}

<script type="text/javascript" defer="defer">
$(document).ready(function() {
    $("table[id={{ table_id }}]").DataTable( eval({{ formats | safe }}));
});
</script>
